.placeholderContainer {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.characterNamePlaceholder {
  color: var(--color-character-name-placeholder);
  font-size: 300px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  white-space: nowrap;
  position: absolute;
  left: 0;
  right: 0;
}