.grid {
  position: relative;
  z-index: 2;
  display: grid;
  margin: 0 auto;
  padding: 2em;
  column-gap: 1em;
  grid-template-columns: 50px 1fr;
  grid-template-rows: repeat(6, auto);
  grid-template-areas: "logo logo"
                        "name avatar"
                        "name character-name"
                        "about character-description"
                        "arrow arrow"
                        "social social"                        
}
.nameArea {
  grid-area: character-name;
  margin-top: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageArea{
  grid-area: avatar;
  display: flex;
  justify-content: center;
  align-items: center;
}

.descriptionArea { 
  grid-area: character-description;
}

.nextArea {
  grid-area: arrow;
}
.socialArea {
  grid-area: social;
  
}
.logoArea {
  grid-area: logo;
}
.learnMoreArea {
  grid-area: learn-more;
  
}
.verticalAlign {
  writing-mode: vertical-rl;
  display: flex;
  align-items: center;
  display: none;
}
.assetTopArea {
  grid-area: asset-top;
}
.assetBottomArea {
  grid-area: asset-bottom;
  grid-area: asset-bottom;
  justify-content: flex-end;
}
.navigationArea {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigationArea.name {
  grid-area: name;
}
.navigationArea.about {
  grid-area: about;
}
@media screen and (min-width: 1024px) {
  .grid {
    column-gap: 4em;
    grid-template-columns: 50px 1fr 1fr 200px;
    grid-template-rows: 230px 200px 1fr 1fr;
    grid-template-areas: "asset-top logo logo social"
                          "name character-name avatar avatar"
                          "about character-description avatar avatar"
                          "asset-bottom learn-more arrow other-line" 
  }
  .nameArea {
    justify-content: start;
  }
  .verticalAlign {
    display: flex;
  }
}
