:root {
  --color-bg: #00a5be;
  --color-black: #000000;
  --color-white: #FFFFFF;
  --font-basic: 'Inter', sans-serif;
  --base-font-size: 16px;
  --font-size-character-name-basic: 30px;
  --font-size-character-name: 50px;
  --font-size-label-basic: 25px;
  --bg-character-label: #685128;
  --color-character-label: var(--color-white);
  --color-character-name-placeholder: rgb(0, 0, 0, .1);
  --color-character-name-after: #F7391C;
 }
 @font-face {
  font-family: 'Inter';;
  src: url('./fonts/Inter.ttf');
}
body {
  margin: 0;
  background-color: var(--color-bg);
  font-family: var(--font-basic);
  font-size: var(--base-font-size);
  background-image: url('./images/asset-red.svg');
  background-position: left 50px top;
  background-repeat: no-repeat;
}

@media screen and (min-width: 1024px) {
  body {
    background-position: left 200px top;
  }

}